.top-banner {
    background-image: url(./img/background.jpg);
    .container {
        padding-top: 50px;
    }    
    .space-md {        
        border: none;
    }
    .me {
        position: relative;
        animation-duration: 1000ms;
        transition-timing-function: ease;
        transition-delay: 0ms;
    }
    img {
        max-width: 100%;
        display: inline-block;
        opacity: 0.88;
    }
    .text-color-2 {
        color: #03BFCB !important;
    }
    h1 {
        font-size: 37px;
        line-height: 49px;
        font-weight: 900;
        color: rgb(0, 71, 103);
    }
    .carousel {
        &:after {
            clear: both;
        }
        .carousel-item {
            &:after {
                clear: both;
            }
        }
        .carousel-caption {
            position: initial;
            text-align: left;
        }
    }

    p {
        font-size: 13px;
        color: rgb(64, 77, 96);
        line-height: 30px;
    }
    hr.space-lg,  hr.space-sm {
        border: none;
        clear: both;
        margin: 0;
    }
    .btn {
        background-color: #03BFCB;
        border-color: #03BFCB;
        font-weight: 600;
        border-radius: 3px;
        display: inline-block;
        text-decoration: none;
        border-style: solid;
        border-width: 1px;
        position: relative;
        cursor: pointer;
        outline: none;
        text-align: center;
        transition: all .5s;
        &:hover {
            box-shadow: 0 12px 24px -10px rgba(21, 59, 93, 0.46);
            transform: scale(.95);
        }
    }

    .btn:not(.btn-border):hover {
        background-color: rgb(0, 71, 103);
    }

    .btn-sm {
        padding: 10px 30px;
        font-size: 15px;
    }

    .btn-border {
        background: none;
    }

    .width-190 {
        min-width: 190px;
    }
    a {
        margin-right: 20px;
    }
    h3 {
        margin-top: 100px;
    }
}

@media (max-width: 991.98px) {
    .hidden-md {
        display: none !important;
    }
    .space-md {
        height: 100px;
    }
}

@media (max-width: 767.98px) {
    .full-width-sm {
        width: 100% !important;
        margin-bottom: 15px;
    }
}